.errorMessage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    margin-top: 15px;
}

.errorInput {
    border: 1px solid red !important;
}