.lineScheuleTimeInDay {
    height: 60px;
    border: 1px solid #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.lineScheuleTimeInDayPair {
        height: 60px;
        border: 1px solid #F6F6F6;
        background-color: #F6F6F6;
    }

    h4 {
        margin-left: 25px;
        font-weight: 500;
        font-size: 19px;
        margin-right: 40px;
    }

    &__leftBlock {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__taskBlock {
        display: flex;
        flex-direction: column;


        span {
            &:first-child {
                font-weight: 500;
            }
        }
    }

    &__trash {
        cursor: pointer;
        margin-right: 15px;

        &:hover {
            svg {
                path {
                    fill: red;
                }
            }
        }
    }


}