@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);

.app-wrapper{
  display: grid;

  
  margin: 0 auto;

  grid-template-areas: 
  "n h"
  "n c"
  "f f";
  grid-template-rows: 100px 1fr;
  grid-template-columns: auto 9.5fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content{
  grid-area: c;
  background-color: #fff;
}

.ReactModal__Content.ReactModal__Content--after-open {
  overflow: hidden !important;
}